<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	
	<title>XRD Viewer</title>
</head>
<body>
	<header class="site-header">
		<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
			<div class="container">
				<div class="navbar-brand mr-4" href="/">XRD Viewer</div>
			</div>
		</nav>
	</header>
	
	<div>
		{% block content %}{% endblock %}
	</div>
	<script src="static/js/main.js"></script>
</body>
</html>